* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: Montserrat;
  height: 100%;
}

section {
  height: 500px;
  padding: 20px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: Alice;
}

img {
  max-width: 100%;
  flex-basis: 100%;
  object-fit: cover;
}

p {
  margin: 0;
  font-size: 14px;
}

a {
  color: white;
  background-color: #0190c5;
  width: 70px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  padding: 3px;
  text-decoration: none;
  border-radius: 5%;
  margin: 10px 0;
}

#intro {
  background-image: url(background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#mywork {
  position: relative;
  background-color: black;
}

#gallery {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  height: 100%;
}

.year {
  font-size: 10px;
}

.photo {
  height: 60%;
  display: flex;
  flex-direction: column;
}

h3 {
  align-self: flex-start;
  position: absolute;
  top: 20px;
  left: 20px;
}

#jellyfish {
  /* height: 100%; */
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

#clownfish {
  align-self: center;
}
